@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap');
@import url('https://cdn.es.gov.br/fonts/font-awesome/css/font-awesome.min.css');
 /* resetando as proprieadades padrao */
*{
    padding: 0;
    margin: 0;                            /*margim 0*/
    box-sizing: border-box;               /* vai colar as borda da div a toda borda da tela */
}
body{
    font-family: 'Open Sans', sans-serif;       /*font do google*/
    
}
.container{
    display: flex;                      /* joga uma div ao lado da outra*/
    justify-content: center;             /* vai centralizar as div*/
    align-items: center;                /* centralizar os itens ao centro*/
    height: 100vh; 
    background-color: #ecf0f1;        /*  altura do veuport*/
}
.content{
    border-radius: 15px;
    background-color: #fff;
    width: 960px;
    height: 50%;
    display: flex;
    justify-content: space-between;        /*vai da um espaco entre as colunas*/
    align-items: center;
    position: relative;

} 
.content::before{
    content: "";
    position: absolute;
    background-color: #58af9b;
    width: 40%;
    height: 100%;
}
/* inicio do primeiro conteudo com a primeira coluna*/

.primeiro-conteudo{
    display: flex;                          /*vai colocar uma coluna ao lado da outra*/
} 
.primeira-coluna{
    text-align: center;
    flex: 1 0 auto;
    z-index: 10;                                /*vai elevar os items pra cima*/ 
}
.title{
    color: #58af9b;
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;                /*pega as primeiras letras e coloca em maiscula*/
}
.title-welcone{
    color: #fff;
}
.descricao{
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    line-height: 25px;
}

.btn{
    border-radius: 15px;
    text-transform: uppercase;                  /* vai colocar as letras em maiscula*/
    color: #fff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    width: 150px;
    font-weight: bold;
    align-self: center;                     /* vai alinhar o proprio botao ao centro dele mesmo*/
    /* border-width: 0; */
    border: none; /* remover bordas do botao que vem por padrao dos navegadores*/

}
.btn-primary{
    background-color: transparent;
    border: 1px solid #fff;    
}
.btn-primary:hover{
    background-color: #fff ; 
    color: #58af9b;   
}
.btn-second{
    background-color: #58af9b;
      
}
.btn-second:hover{
    background-color: #fff;
    border: 1px solid #58af9b;
    color: #58af9b;
  
 }
/* final */
/* inicio da segunda coluna do primeiro conteudo*/

.segunda-coluna{ 
    flex: 2 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
.lista-media{
    display: flex;                          /*vai colocar uma coluna ao lado da outra por padrao*/
    list-style: none;                       /* remove as marcacoes da lista*/
    /* list-style-type: nome; */
}
.item-socialmedia a{
    color: #95a5a6;
}
.item-socialmedia {
    border: 1px solid #95a5a6;
    border-radius: 50%;                      /* border da lista dos incons*/
    width: 40px;                             /* altura*/
    height: 40px;                            /* largura*/
    line-height: 40px;                       /* altura dos incons*/
    text-align: center;                      /* centralizando eles*/
}
.item-socialmedia:not(:first-child){
    margin-left: 14px ;

}
.descricao-segudo-coluna{
    color: #95a5a6;
}
.form{
    display: flex;                          /*vai colocar uma coluna ao lado da outra por padrao*/
    flex-direction: column;                 /*vai colocar mostra a direcao do flex aqui e um embaixo do outro*/
    width: 60%;
}
.form input{
    height: 45px;                           /* altura da caixa dos input*/
    width: 100%;                           /* vai ocupar 100% da label*/
    border: none;                           /* retira as bordas da caixa do input*/
    background-color: #ecf0f1;
   
}
.label-input{
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
     margin: 8px;                            /*espacamento entre cada input*/
}
/* final*/
/* inicio do segundo conteudo*/
.segundo-conteudo{
    position: absolute;                 /*  ele vai sobre por a segunda div na primeira*/
    display: none;

}
.icons-input{
    padding: 10px;
    color: #95a5a6;
}

/* final*/
